<form #form="ngForm" [formGroup]="controlForm" novalidate (ngSubmit)="onSave()" autocomplete="off" class="setPositionForm">
  <h1 mat-dialog-title>Add Image</h1>
  <div class="position">
    <div class="fileInput">
      <input  type="file" (change)="onFileSelect($event)" >
    </div>
    <br>
    <div *ngIf="imageUrl" class="image-preview">
      <img [src]="imageUrl"  width="500" >
    </div>

  </div>
  <br>
  <div>
    <button class="buttonGroup" mat-flat-button color="primary" type="submit">Save</button>
    <button class="buttonGroup" mat-raised-button color="new" (click)="onClose(false)">Close</button>
  </div>
</form>
